/*Universal Selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets the default background color of your page*/
body {
    background-color: #d9dcd6;
}

/*Header is the top part of your webpage*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Sets the text display for the header */
h1 {
    display: inline-block;
    font-size: 48px;
}

/*This is span settings for the text 'SEO' on the title on the header */
.seo {
    color: #d9dcd6;
}

/*Sets the appearance of the navigation with links on the header*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Sets no style for the unordered list on your nav*/
ul {
    list-style-type: none;
}

/*sets the marging and display for the listed items on your nav*/
li {
    display: inline-block;
    margin-left: 25px;
}

/*This is the links for the navigation bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*This is to make color appear when mouse hovers over the link*/
a:hover {
    color: red;
}

/*This sets your hero or cover image*/
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*Sets the main body of your website*/
.container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Sets the display for the main content of the body of your page*/
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Makes the image appear on the left of the text*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/*Makes the image appear on the right of the text*/
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*Sets the text display for the content */
h2 {
    margin-bottom: 20px;
    font-size: 36px; 
}

/*Set the font size of paragraphs*/
p {
    font-size: 16px;
}

/*Sets your siderbar to float and appear on the right of your page*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Sets the display of the benefit portion of your page*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets the text display for the benefits */
h3 {
    margin-bottom: 10px;
    text-align: center; 
}

/*Sets the image display for the benefits */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets the appearance of your footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Set the font size of the footer bold text*/
h4 {
    font-size: 20px;
}
